@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

.container {
    display: grid;
    /* grid-template-columns: 1fr; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock-area {
    width: 400px;
    height: 200px;
    background-color: black;
    border: 2px solid red;
}

.clock h1 {
    color: rgb(31, 232, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}